*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f7fa;
    font-family: 'Times New Roman';
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    user-select: none;
}

.student-card{
    height: 350px;
    width: 280px;
    background-color: white;
    border: 2px solid #4a90e2;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.header{
    background-color: #4a90e2;
    color: white;
    padding: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
}

.photo img{
    width: 150px;
    height: 175px;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid white;
    animation-iteration-count: infinite;
}

.info h2{
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.info p{
    margin-bottom: 2px;
    color: #444444;
    margin: 4px 0;
}