*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.blog-card{
    background-color: white;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: box-shadow 0.5s ease;
}

.blog-content :hover{
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
}

.blog-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-content{
    padding: 20px;
}

.blog-title{
    font-size: 25px;
    color: #222;
    margin-bottom: 15px;
    border-radius: 15px;
}

.blog-excerpt{
    font-size: 16px;
    color: #555;
    line-height: 1;
    margin-bottom: 12px;
    /* border-radius: 12px; */
}

.read-more{
    font-weight: 600;
    color: blue;
    text-decoration: none;
    transition: color 0.5s ease;
    border-radius: 25px;
}

.blog-content :hover{
    transition: all;
}


body :hover
{
    box-shadow: 0 40px 20px rgba(0, 0, 0, 0.7);
}