@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto+Slab:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 font-family: "Roboto Slab", serif;
 background-color: #eae1d5;
 /* background-color: rgba(225, 225, 87, 0.374); */
 max-width: 600px;
 color: #3a3a3a;
 margin: 40px auto;
 padding: 0 20px;
 line-height: 1.7;
}

h1{
    font-family: "Playfair Display", serif;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 900;
    color: #6d4c41;
    font-size: 45px;
}

.author{
    font-size: 17px;
    color: #a1887f;
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;
}

.poem{
    border-left: 3px solid rgb(234, 189, 197);
    padding-left: 20px;
    font-family: "Playfair display", serif;
    font-size: 30px;
    font-style: italic;
    position: relative;
}

.poem p{
    margin: 0 0 29px 0;
    white-space: pre-line;
}