*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #00cc00; 
}

.subscription-continer{
    background-color: #111;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid #00cc00;
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.subscription-form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 15px;
}

.subscription-form input[type="email"]{
    padding: 12px;
    border: 1px solid #00cc00;
    border-radius: 10px;
    background-color: black;
    color: #00cc00;
}

.subscription-form input[type="email"]::placeholder{
    color: #00cc00;
}

.subscription-form button{
    padding: 12px;
    background-color: #00cc00;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.subscription-form button :hover{
    background-color: #33cc33;
}

.info-text{
    font-size: 14px;
    color: #009900;
}

.subscription-continer h2{
    font-size: 22px;
    margin-bottom: 20px;
}