*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    min-height: 100vh;
}

body{
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.content-container{
    width: 100%;
    max-width: 700px;
}

.to-do-list-container{
    padding: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom right,#eaf4ff,#c7e0f7);   
    border-radius: 10px;
}

.to-do-list-container h2{
    text-align: center;
    margin-bottom: 15px;
    font-size: 28px;
}

.to-do-list-container h3{
    font-size: 22px;
    margin-bottom: 15px;
}

.todo-actions { 
    display: flex; 
    align-items: center; 
}

.todo-actions img.icon {
  width: 10px;          
  height: 10px;          
  display: block;
}

#todo-list{
    list-style-type: none;
}

.todo-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 10px;
    
}

.todo-item :hover{
    box-shadow: 10px 2px 8px rgba(220, 164, 164, 0.2);
    border-radius: 30px;
    background-color: antiquewhite;
}

.todo-item label{
    flex-grow: 1;
    margin-left: 10px;
}

.icon{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.todo-item.completed label{
    text-decoration: line-through;
    color: gray;
}