*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    background-color: black;
    color: white;
    display: flex;
    padding: 0 32px;
    user-select: none;
}

.register-container{
    border-radius: 15px;
    display: block;
    background-color: #333333;
    border-radius: 15px;
    padding: 32px 48px;
    width: 400px;
}

.register-container h1{
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
    background-color: #1b1a1a;
    padding: 10px;
    border-radius: 12px;
}

.register-container input[type="text"],
.register-container input[type="password"]{
    padding: 8px;
    background-color: #1b1a1a;
    width: 100%;
    font-size: 15px;
    color: white;
    border-radius: 15px;
    border: none;
    margin-bottom: 20px;
}

.register-container button{
    background-color: #1b1a1a;
    color: white;
    width: 100%;
    border-radius: 15px;
    font-size: 20px;
    border: none;
    margin-top: 20px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.register-container button.submit:hover{
    background-color: #555;
}

.register-container button.submit:active{  /* .submit is class*/
    background-color: #777;
    transform: scale(0.5);
}